
body {

}

.text {
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  border: 5px solid #D6D6D6;
  margin: 50px
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.yellow {
  border-radius: 900px;
  height: 300px;
  width: 300px;
  padding: 20px;
  /* display: flex;
  justify-content: center; */

}
@media screen and (max width  900px){
  .yellow { height: 200px;
            width: 400px;
            padding: 8px;

  }
  .text {
    font-size: 40px;
  }
}

@media screen and (max width: 7500px){
  .yellow {
    height: 100px;
    width: 400px;
    padding: 4px;
  }
  .text {
    font-size: 20px;
  }
}
